* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: white;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5%;
}

#menu,
#container {
    margin-top: 5vh;
}

#menu {
    width: 20%;
    height: 30vh;
    border: 1px solid red;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        'start end'
        'location location';
}

#container {
    width: 40%;
    max-width: 50%;
    height: 85vh;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.innerDiv {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

#start {
    grid-area: start;
}

#end {
    grid-area: end;
}

#locationHover {
    grid-area: location;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#location {
    width: 50%;
    margin-top: 2%;
    border: 1px solid red;
    text-align: center;
}

.row {
    width: 100%;
    height: calc(100% / 8);

    display: inline-flex;
}

.box {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.box:hover {
    border: 2px solid orange;
}
