* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: white;
    --menu-background: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    --button-background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5%;

    background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%),
        linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-blend-mode: normal, color-burn;
}

#menu,
#container {
    margin-top: 5vh;
}

#menu {
    width: 20%;
    height: 30vh;
    border-radius: 10px;
    background-image: var(--menu-background);
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.3fr 0.6fr;
    grid-template-areas:
        'start end'
        'submit submit'
        'location location';
}

#container {
    width: 40%;
    max-width: 50%;
    height: 85vh;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.innerDiv {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.innerDiv > h1 {
    font-size: 2rem;
}

.innerDiv > p {
    margin-top: 5%;
    font-weight: normal;
    font-size: 1.2rem;
}

#start {
    grid-area: start;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10%;
}

#end {
    grid-area: end;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}

select {
    width: 50%;
    height: 20%;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

#submitBtnDiv {
    grid-area: submit;
}

#submitBtn {
    width: 60%;
    padding: 2px;
    height: 100%;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    background-image: var(--button-background);
    cursor: pointer;
}

#locationHover {
    grid-area: location;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#location {
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
}

.row {
    width: 100%;
    height: calc(100% / 8);

    display: inline-flex;
}

.box {
    width: 100%;
    height: 100%;
    border: 2px solid black;

    container: tile / inline-size;
}

.box:hover {
    border: 2px solid orange;
}

#knight {
    width: 100%;
    margin-top: 0.8ch;
}
